body,ul,li,p,div,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd{margin: 0;padding: 0;}
body{font:normal 12px "맑은고딕"}
a{text-decoration: none;}
img{vertical-align: top;border: 0;}
ul,ol{list-style: none;}

.navbar a{font-weight:bold}
.navbar-brand{font-size:20px;}
.navbar-brand a{font-color:#fff}
.nav{font-size:14px}